nav {
    background-color: #1b152c;
}
.img1{
    height: 60vh;
}
.img2{
    height:60vh ;
}
.img3{
    height: 60vh;
}
.container{
    width: 50vh;
    margin: 20px;
    background-color: rgb(249, 243, 243);
}
.container2{
    width: 60vh;
    margin: 20px;
    background-color: rgb(249, 243, 243);

}
.product{
    width: 20vh;
    margin: 10px;
}
.head{
    padding: 5px;
}
.item{
    margin: 10px;
    width: 100%;
    height: 60%;
}
.item4{
    margin: 10px;
    width: 30vw;
    height: 30vh;
}
.content{
    margin-top: 20px;
    margin: 10px;
    width: 50vw;
   
}

